.footer {
    text-align: center;
    /*border-top: 1px solid #eee;*/
    font-size: 12px;
    padding-top: 35px;
    padding-bottom: 50px;
}

hr {
    /*border: none;*/
    /*background: none;*/
    /*box-shadow: none;*/
    /*color:none;*/
}

div.scroll {
    height: 40px;
    overflow-x: scroll;
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

.tiles-row {
    padding: 20px;
}

.tile {

    text-align: center;
    color: white;
    /*background-color: #757575;*/
    padding-top: 10px;
    padding-bottom: 20px;
    /*margin: 0px 5px 0px 5px;*/
    /*border: 5px solid white;*/
    /*outline: 1px solid gray;*/
    /*display: table-cell;*/
    /*box-sizing: border-box;*/

    /*max-width: 150px;*/
    /*height: 120px;*/
}

.tile b {
    font-size: 32px;
}

.tile small {
    font-size: 16px;
}

.bg-orange {
    background-color: #F0934E;
}

.bg-green {
    background-color: #81C04D;
}

.bg-pink {
    background-color: #E06D94;
}

.bg-blue {
    background-color: #05A7CF;
}

.bg-violet {
    background-color: #9358AC;
}

/*
  Coloring for prices table
*/

table.table-prices tr.bg-danger {
    color: white;
    background-color: #c0392b;
}

table.table-prices tr.bg-danger a {
    color: white;
}

table.table-prices tr.bg-danger .text-success {
    color: #D2FF00;
}

table.table-prices tr.bg-danger:hover {
    background-color: rgb(191, 0, 0);
}
